# Core Verification

Deprecated, please see [light-client/verification](../../light-client/verification/README.md).
